@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_1: #DC2626;
  --primary_2: #050517;
  --primary_3: #334155;
  --secondary_1: #676F54;
}

body {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: black lightgray;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 165, 165);
}

@supports (scrollbar-color: lightgray white) {
  *{
    scrollbar-color: lightgray white;
    scrollbar-width: thin;
  }
}

.popUp { 
  animation: popUp 0.2s ease-out;
  animation-iteration-count: 1;
}

@keyframes popUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
}

.active {
  color: #FC2B2B;
  font-weight: 600;
}

.dotActive {
  background-color: rgb(156 163 175);
}

.swipeLeft {
  background-color: #FFF;
  transform: translateX(-250%);
  transition: transform 2s ease;
}

.swipeRight {
  background-color: #FFF;
  transform: translateX(250%);
  transition: transform 2s ease;
}

