@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_1: #DC2626;
  --primary_2: #050517;
  --primary_3: #334155;
  --secondary_1: #676F54;
}

.active {
  color: #FC2B2B;
  font-weight: 600;
}
